@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

input#user-data {
    display: none;
}

body {
    font-family: 'Indie Flower', serif;
    color: darkblue;
    background-color: mediumpurple;
    margin: 2px 2px 2px 2px;
}

.movie-row {
    background-color: darkseagreen;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: thick double #32a1ce;
    margin-top: 10px;
    margin-left: 10px;
}

.movie-img {
    width: 22%;
    margin-top: 22px;
    margin-left: 22px;
    border-radius: 12px 12px;
}

.movie-desc {
    margin-top: 12px;
    margin-left: 12px;
}

button#user-data-save {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s, box-shadow .24s;

    :hover {
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    }

}
